:root {
  --text: #0b0e0e;
  --background: #eef2f2;
  --primary: #3b4f4e;
  --secondary: #9cbab9;
  --accent: #537f7c;
  --hover: #3b4f4eb3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background);
  font-family: inherit;
}
label {
  display: block;
  text-align: left;
}

input {
  border: none;
  border-radius: 0.4rem;
  height: 25px;
  width: 100%;
}
ul {
  list-style: none;
}
.header {
  font-size: 16px;
  background-color: var(--secondary);
  padding: 1rem;
  text-align: center;
  border-bottom: solid #d6d9d9 0.1rem;
}
.footer {
  background-color: var(--secondary);
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}

.form label {
  font-size: 16px;
}
.logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  word-spacing: 10px;
  letter-spacing: 3px;
  padding: 0.4rem 0.4rem 0.8rem 0.4rem;
}
.container {
  padding: 1rem;
}

.button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;

  font-weight: 700;
  cursor: pointer;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.button p {
  text-transform: uppercase;
  font-family: "inter";
}
.button:hover {
  background-color: var(--hover);
}
.btn-active {
  background-color: var(--accent);
}

.btn-left {
  border-radius: 0.4rem 0 0 0.4rem;
}
.btn-alone {
  border-radius: 0.4rem 0.4rem;
}
.btn-right {
  border-radius: 0 0.4rem 0.4rem 0;
}
.btn-small {
  font-size: 0.8rem;
}
.btn-task {
  height: 25px;
  width: 10%;
  padding: 0;
}
.btn-card-delete {
  right: 50px;
  border: none;
  padding: 5px;
}
.card-back-options {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
.subcontainer {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1rem;
  /* text-transform: uppercase; */
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.subcontainer h2,
label,
h3,
input {
  margin-bottom: 1rem;
}
.card-front {
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  line-height: 200px;
}

.card-answer {
  text-align: center;
  padding: 1rem;
}

.displayListItem {
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: stretch;
}
.displayListItem p {
  flex-grow: 8;
  line-height: 25px;
  font-size: 16px;
}
.display-flash-cards {
  width: 100%;
  height: 200px;
  background-color: var(--accent);
  margin: 1px;
  border-radius: 4px;
  margin-bottom: 1rem;
  position: relative;
}
.task-text {
  margin-left: 5px;
}

@media (min-width: 500px) {
  .logo {
    font-size: 2rem;
  }
  .button {
    font-size: 1rem;
    padding: 0.7rem 2rem;
  }
}
